* {
	margin: 0;
	padding: 0;
	font-family: 'Rubik';
	scroll-behavior: smooth;
	box-sizing: border-box;
}
body {
	background-color: #e6e6e6;
	padding-bottom: 100px;
}
.wrapper {
	max-width: 75%;
	margin: 0 auto;
}
header {
	height: 150px;
	background-color: #1C4477;
}
header img {
	width: 120px;
	margin-top: 16px;
	float: left;
}
header h1 {
	font-family: 'Source Serif Pro';
	float: left;
	color: white;
	font-weight: bold;
	font-size: 36px;
	letter-spacing: 1.5px;
	margin-top: 41px;
	margin-left: 15px;
}
header span {
	font-family: 'Source Serif Pro';
	font-size: 21px;
	font-weight: normal;
	display: block;
	margin-top: -4px;
}
header ul {
	float: right;
	margin: 0;
	padding: 0;
	display: flex;
	list-style: none;
}
header li {
	margin-top: 70px;
	margin-left: 25px;

	transition: .5s;
}
a.link {
	display: block;
	text-decoration: none;
	/*transition: .5s;*/
	color: white;
	font-size: 1em;
	padding: 12px 24px;
	letter-spacing: 2px;
	border: 2px solid white;
}
a.link:hover {
	background-color: #4583d3;
}
.dropdown {
	float: left;
	overflow: hidden;
}
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #F9F9F9;
	min-width: 135px;
	margin-left: 26px;
	margin-top: 0px;
	z-index: 1;
	outline: 2px solid black;
}
.dropdown-content a {
	float: none;
	font-size: 18px;
	color: black;
	padding: 16px 27px;
	text-decoration: none;
	letter-spacing: 0.5px;
	display: block;
	text-align: left;
}
.dropdown-content a:hover {
	background-color: #5A91D8;
	color: white;
	outline: 2px solid black;
}
.dropdown:hover .dropdown-content {
	display: block;
}
.social {
	position: absolute;
	right: 13%;
	top: 23px;
}
.social a {
	color: white;
	font-size: 23px;
	padding: 2px 3px;
}
/*.social a:hover {
	color: #D5E3F6;
	border-bottom: 2px solid #D5E3F6;
}*/
.social a:nth-child(1):hover {
	color: #7d98cf;
}
.social a:nth-child(2):hover {
	color: #C13584;
}
.social a:nth-child(3):hover {
	color: #ff4d4d;
}
/* MOBILNA VERZIJA - DROPDOWN */
.icon {
	position: absolute;
	top: 30px;
	border: none;
	outline: none;
	cursor: pointer;
	background-color: transparent;
}
.droper {
	float: right;
	position: relative;
	top: 30px;
	display: inline-block;
}
.droper-content {
	display: none;
	position: absolute;
	background-color: #F9F9F9;
	min-width: 230px;
	overflow: auto;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	right: 60px;
	z-index: 1;
	outline: 2px solid black;
}
.droper-content a {
	float: none;
	font-size: 19px;
	color: black;
	padding: 21px 25px;
	text-decoration: none;
	letter-spacing: 1px;
	display: block;
	text-align: left;
}
.droper-content a:hover {
	background-color: #5A91D8;
	color: white;
	outline: 2px solid black;
}
.show {display: block;}
.okvir {
	margin-left: 0.5%;
	margin-right: 0.5%;
	margin-bottom: 50px;
  margin-top: 35px;
	float: left;
	width: 24%;
	border: 2px solid #3075cf;
	transition: 0.5s;
	overflow: hidden;
}
.okvir:hover {
	border: 2px solid #225291;
}
.okvir img {
	width: 100%;
	height: auto;
	padding: 6px 6px 0 6px;
	transition: transform 0.5s ease;
}
.okvir:hover img {
	transform: scale(1.1);
}
.desc {
	padding: 15px 0 13px 0;
	text-align: center;
}
.desc h3 {
	font-size: 24px;
  letter-spacing: 2px;
}
footer {
	display: none;
}

@media (max-width: 1280px) {
	.wrapper {
		max-width: 85%;
	}
	header img {
		width: 110px;
		margin-top: 20px;
	}
	header h1 {
		font-size: 24px;
		margin-top: 47px;
		margin-left: 15px;
	}
	header span {
		font-size: 18px;
		margin-top: -1px;
	}
	header li {
		margin-top: 75px;
		margin-left: 15px;
	}
	.social {
		right: 9%;
		top: 24px;
	}
	.social a {
		font-size: 24px;
		margin-right: 10px;
		padding: 2px 2px;
	}
	a.link {
		padding: 10px 16px;
		letter-spacing: 0.5px;
		font-size: 17px;
		border: 2px solid white;
	}
	.dropdown-content {
		min-width: 100px;
		margin-left: 16px;
		margin-top: 1px;
	}
	.dropdown-content a {
		font-size: 17px;
		padding: 14px 18px 14px 16px;
		letter-spacing: 0.5px;
	}
  .okvir {
  	width: 46%;
    margin-left: 2%;
  	margin-right: 2%;
    margin-top: -10px;
  }
  .okvir:hover img {
  	transform: scale(1.05);
  }
}
@media (max-width: 1024px) {
	.wrapper {
		max-width: 90%;
	}
	header {
		height: 130px;
	}
	header img {
		width: 97px;
		margin-top: 17px;
	}
	header h1 {
		font-size: 20px;
		margin-top: 43px;
		margin-left: 11px;
	}
	header span {
		font-size: 14px;
		margin-top: 0px;
	}
	header li {
		margin-top: 72px;
		margin-left: 12px;
	}
	.social {
		right: 6%;
	}
	.social a {
		font-size: 22px;
		margin-right: 16px;
	}
	a.link {
		padding: 9px 15px;
		font-size: 15px;
		border: 1px solid white;
	}
	.dropdown-content {
		min-width: 50px;
		margin-left: 13px;
	}
	.dropdown-content a {
		font-size: 15px;
		padding: 14px 16px 14px 11px;
		letter-spacing: 0px;
	}
}
@media (max-width: 960px) {
	header {
		height: 121px;
	}
	header img {
		width: 90px;
		margin-top: 16px;
	}
	header h1 {
		font-size: 18px;
		margin-top: 42px;
		margin-left: 12px;
	}
	header span {
		font-size: 13px;
	}
	header li {
		margin-top: 65px;
		margin-left: 10px;
	}
	a.link {
		padding: 8px 13px;
		font-size: 14px;
	}
	.dropdown-content {
		min-width: 50px;
		margin-left: 11px;
	}
	.dropdown-content a {
		font-size: 14px;
		padding: 14px 16px 14px 11px;
		letter-spacing: 0px;
	}
}
@media (max-width: 768px) {
	header {
		height: 112px;
	}
	header img {
		width: 84px;
		margin-top: 14px;
	}
	header h1 {
		font-size: 21px;
		margin-top: 34px;
		margin-left: 13px;
	}
	header span {
		font-size: 14px;
		margin-top: -1px;
	}
	header ul {
		display: none;
	}
	.social {
		display: none;
	}
	.icon {
		display: block;
		width: 40px;
		height: 30px;
		position: relative;
		top: 11px;
		right: 10px;
		cursor: pointer;
		outline: none;
		/*overflow: hidden;*/
	}
	.icon span {
		position: absolute;
		height: 5px;
		width: 90%;
		background: #c1d6f1;
		border-radius: 9px;
		transition: 0.25s ease-in-out all;
		outline: none;
	}
	.icon span:nth-child(1) {
		top: 0;
	}
	.icon span:nth-child(2) {
		top: 12px;
	}
	.icon span:nth-child(3) {
		top: 24px;
	}
	.icon.open span:nth-child(1) {
		transform: rotate(45deg);
		top: 12px;
	}
	.icon.open span:nth-child(2) {
		transform: rotate(45deg);
		opacity: 0;
	}
	.icon.open span:nth-child(3) {
		transform: rotate(-45deg);
		top: 12px;
	}
	.droper {
		top: 30px;
	}
	.droper-content {
		min-width: 100px;
		right: 58px;
		top: 8px;
	}
	.droper-content a {
		font-size: 18px;
		padding: 19px 26px;
		text-align: center;
		letter-spacing: 1px;
	}
  .okvir {
    width: 96%;
    margin-left: 2%;
  	margin-right: 2%;
    margin-top: 0px;
    margin-bottom: 30px;
  }
  .okvir:hover img {
    transform: none;
  }
	footer {
		display: block;
		float: left;
		width: 100%;
		height: 120px;
		margin-top: 80px;
		background-color: #1C4477;
		text-align: center;
	}
	.footer-social {
		margin-top: 35px;
	}
	.footer-social a {
		font-size: 32px;
		color: #e6e6e6;
		padding: 5px;
		margin-right: 35px;
		margin-left: 35px;
	}
	footer p {
		font-size: 13px;
		color: #d9d9d9;
		margin-left: -15px;
		margin-top: 9px;
	}
}
@media (max-width: 570px) {
	header {
		height: 102px;
	}
	header img {
		width: 72px;
		margin-top: 16px;
	}
	header h1 {
		font-size: 18px;
		margin-top: 32px;
		margin-left: 10px;
	}
	header span {
		font-size: 12px;
		margin-top: -2px;
	}
	.icon {
		width: 38px;
		top: 10px;
		right: 11px;
	}
	.icon span {
		height: 4px;
		width: 85%;
	}
	.icon span:nth-child(1) {
		top: 0;
	}
	.icon span:nth-child(2) {
		top: 10px;
	}
	.icon span:nth-child(3) {
		top: 20px;
	}
	.icon.open span:nth-child(1) {
		top: 10px;
	}
	.icon.open span:nth-child(3) {
		top: 10px;
	}
	.droper {
		top: 30px;
	}
	.droper-content {
		min-width: 100px;
		right: 52px;
	}
	.droper-content a {
		font-size: 17px;
		padding: 21px 32px;
		letter-spacing: 2px;
	}
}
