* {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}
body {
  font-family: 'Raleway';
  background-color: #E6E6E6;
  /*background-color: #F5F5F5;*/
  height: auto;
}
#left-bar {
  position: fixed;
  left: 0;
  top: 0;
  width: 280px;
  height: 100%;
  background-color: #1C4477;
  border: 1px solid #1C4477;
  /*border-top-right-radius: 12px;*/

}
#left-bar h2 {
  font-size: 36px;
  margin-top: 30px;
  text-align: center;
  color: #EEEEEE;
}
#left-bar a:first-of-type {
  margin-top: 35px;
}
#left-bar a:last-of-type {
  position: absolute;
  bottom: 24px;
}
#left-bar a {
  max-width: 120px;
  display: block;
  margin-top: 15px;
  margin-left: 16px;
  padding: 10px 0 10px 8px;
  font-size: 18px;
  text-decoration: none;
  color: #EEEEEE;
  border-left: 3px solid #D1BDA8;
  transition: 0.2s;
}
#left-bar a:hover {
  color: #D1BDA8;
  /*border-left: 3.5px solid #D1BDA8;*/
  padding-left: 12px;
}
p.counter {
	margin-left: 300px;
	font-size: 36px;
}

/* login.php */
.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background-color: #1C4477;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
} 
.login-box .user-box {
    position: relative;
}  
.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}
.login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 8px 0;
    font-size: 18px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}  
.login-box .user-box input:focus ~ label, .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #CCC;
    font-size: 12px;
}  
.login-box form .login {
    width: 100%;
    padding: 10px 20px;
    color: #404040;
    background-color: #E6E6E6;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    cursor: pointer;
    transition: .3s;
    margin-top: 10px;
    letter-spacing: 4px;
    border: 0;
}  
.login-box form .login:hover {
    background: #737373;
    color: #CCC;
    outline: 2px solid #999;
}

/* register_user.php */
.reg_form {
    width: 35%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 35px 0;
    background-color: transparent;
    border-radius: 4px;
    color: #F2F2F2;
}
.reg_form h1 {
    text-align: center;
    letter-spacing: 1px;
    color: #F2F2F2;
    padding-bottom: 30px;
}
.reg_form input {
    width: 50%;
    height: 30px;
    padding: 18px 0 18px 12px;
    margin-left: 25%;
    border: 1px solid #D9D9D9;
    color: #F2F2F2;
    background-color: transparent;
    border-radius: 4px;
    font-size: 16px;
}
.reg_form input:focus{
    outline: none;
}
.reg_form input[type="checkbox"] {
  display: unset;
}
.reg_form .showpass {
    width: 13px;
    height: 13px;
    margin-top: 12px;
    margin-right: 7px;;
}
.reg_form .bojaPoruke {
    position: relative;
    width: 40%;
    left: 36%;
    text-align: center;
    color: red;
}
.reg_form .prijava {
    font-size: 17px;
    height: auto;
    padding: 10px 0;
    transition: 0.25s;
    cursor: pointer;
    border: 2px solid #f29040;
    background-color: #F4A261;
}
.reg_form .prijava:hover {
    background-color: #f29040;
    color: white;
}

/* unos.php */
.unos {
    margin-left: 350px;
    margin-top: 50px;
    padding-bottom: 60px;
}
textarea {
    width: 420px;
    min-height: 250px;
    margin-top: 5px;
    margin-bottom: 15px;
    padding: 9px 0 0 11px;
    resize: vertical;
}
.sazetak {
    min-height: 70px;
}
input {
    width: 290px;
    height: 35px;
    padding-left: 10px;
    margin-bottom: 15px;
}
.naslov {
    width: 350px;
    height: 30px;
    margin-top: 5px;
    margin-left: 10px;
}
.slika {
    width: 420px;
    margin-top: 10px;
}
.button_yes, .button_no {
    border: 2px solid #1C4477;
    width: 150px;
    height: auto;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 20px;
    margin-left: 30px;
    padding: 8px 0;
    background-color: #D9D9D9;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    cursor: pointer;
}
.button_yes:hover {
    background-color: #1C4477;
    color: white;
}
.button_no {
    border: 2px solid #CC0000;
}
.button_no:hover {
    background-color: #CC0000;
    color: white;
}
.bojaPoruke {
    margin-top: -10px;
}